<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NKSXN89");
    </script>
    <!-- End Google Tag Manager -->
    <title>Fafiltec - Faculdade FIladélfia de Tecnologia</title>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "188202277552714");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=188202277552714&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NKSXN89"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="main-principal">
      <div class="header">
        <img src="Logo branca_Prancheta 1 1.png" />
        <a class="button-white" href="/instructions">Já tenho inscrição</a>
        <a class="button-white" href="#form-anchor">Quero me inscrever</a>
      </div>
      <div class="main">
        <div class="content-main">
          <div class="content-main-text">
            <h1>GESTÃO DE NEGÓCIOS IMOBILIÁRIOS É NA FAFILTEC</h1>
            <p>
              Alavanque ou inicie sua carreira no mercado imobiliário com nosso
              curso de Gestão de Negócios Imobiliários. Aprenda estratégias de
              marketing, avaliação de propriedades e gestão eficaz para se
              destacar neste setor competitivo. Prepare-se para o sucesso
              imobiliário agora!
            </p>
          </div>
          <a href="#">
            <div class="button-orange">QUERO SABER MAIS SOBRE O CURSO</div>
          </a>
        </div>

        <div class="content-main-img">
          <img src="Corretor 1.png" />
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="item">
          <img src="ícones_Prancheta 1.png" alt="Icone 1" class="icon" />
          <span class="text">2 anos de duração</span>
        </div>
        <div class="item">
          <img src="ícones-02.png" alt="Icone 2" class="icon" />
          <span class="text">Aprenda a distância</span>
        </div>
        <div class="item">
          <img src="ícones-03.png" alt="Icone 3" class="icon" />
          <span class="text">Utilize sua nota do ENEM</span>
        </div>
      </div>
    </div>

    <div class="content-info">
      <h1>
        CHEGOU A SUA HORA DE <span class="span-orange">MUDAR O JOGO</span>
      </h1>
      <div class="content-info-child">
        <p class="content-info-child-text1">
          Um corretor especialista pode ganhar mais de
        </p>
        <h2>R$<span class="span-white-price">15</span>mil</h2>
        <p class="content-info-child-text2">
          Tirar o CRECI pode ser fácil, mas sem preparo você não se destaca...
        </p>
      </div>
      <a href="#">
        <div class="button-orange2">QUERO SABER MAIS SOBRE O CURSO</div>
      </a>
    </div>

    <div class="content-people">
      <div>
        <h1>
          O QUE OS OUTROS FALAM <span class="span-orange2">X</span> REALIDADE
        </h1>
      </div>
      <img src="Realidade-04.png" />
      <img src="Realidade_Prancheta 1.png" />
      <img src="Realidade-02.png" />
      <img src="Realidade-03.png" />
      <a href="#">
        <div class="button-orange2">QUERO SABER MAIS SOBRE O CURSO</div>
      </a>
    </div>

    <div class="curriculum">
      <h1>O QUE VOCÊ <span class="span-orange2">VAI APRENDER?</span></h1>
    </div>

    <div class="curriculum-container">
      <div class="curriculum-table-container">
        <div class="curriculum-table2">
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white"
                >Fundamentos do mercado imobiliário:</span
              >
              Conceitos básicos sobre o funcionamento do mercado, tipos de
              propriedades, ciclo imobiliário, entre outros.
            </p>
          </div>
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white">Legislação:</span> Aspectos
              legais relacionados à compra, venda, aluguel, administração e
              financiamento de imóveis, incluindo leis de locação, direitos do
              consumidor e regulamentações específicas do setor.
            </p>
          </div>
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white">Avaliação imobiliária:</span>
              Métodos de avaliação de imóveis, análise de mercado, determinação
              de preços e valoração de propriedades.
            </p>
          </div>
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white"
                >Financiamento imobiliário:</span
              >
              Tipos de financiamento disponíveis para compradores e
              investidores, cálculos de hipotecas, análise de riscos e crédito.
            </p>
          </div>
        </div>
      </div>
      <div class="curriculum-table-container">
        <div class="curriculum-table">
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white">Marketing imobiliário:</span>
              Estratégias de marketing aplicadas ao setor imobiliário, incluindo
              promoção de propriedades, uso de tecnologia, publicidade e
              técnicas de vendas.
            </p>
          </div>
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white">Gestão de propriedades:</span>
              Aspectos relacionados à administração de imóveis, incluindo
              contratos de locação, manutenção, negociação de aluguéis, gestão
              de condomínios e relacionamento com clientes.
            </p>
          </div>
          <div class="curriculum-itens">
            <img src="Check-04 2.png" />
            <p>
              <span class="span-curriculum-white"
                >Aspectos econômicos e financeiros:</span
              >
              Noções básicas de economia e finanças relevantes para o mercado
              imobiliário, como análise de investimentos, gestão financeira e
              análise de viabilidade de projetos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <a href="#">
      <div class="button-orange3">QUERO SABER MAIS SOBRE O CURSO</div>
    </a>

    <div class="about-fafiltec">
      <div class="about-fafiltec-title">
        <h1>
          APRENDA COM UMA EQUIPE DE QUALIDADE E ESPECIALIZADA NO ASSUNTO, TENHA
          ACESSO A UM PORTAL COMPLETO.
        </h1>
      </div>
      <div class="about-fafiltec-text">
        <h1>
          FAÇA PARTE DO ENSINO DA FAFILTEC E TODA SUA ESTRUTURA A PARTIR DE:
        </h1>
        <h2>R$<span class="span-blue-price">154</span>,00</h2>
        <p>
          (tenha um <span class="span-blue">desconto de R$25,00 </span>pagando
          com pontualidade)
        </p>
      </div>
      <a href="#">
        <div class="button-orange4">QUERO SABER MAIS SOBRE O CURSO</div>
      </a>
    </div>

    <div class="about-fafiltec">
      <div class="about-fafiltec-title">
        <h1>TORNE-SE UM ESPECIALISTA</h1>
      </div>
      <div class="about-fafiltec-text">
        <h1>A FAFILTEC TE AJUDA!</h1>
      </div>
      <div class="about-fafiltec-table">
        <p>
          <span class="span-blue">Clique no botão abaixo</span> e fale com um de
          nossos consultores de carreira
        </p>
        <p>
          Converse por:
          <span class="span-blue">ligação, mensagem ou áudio</span>
        </p>
        <p>Fale sobre suas expectativas e te diremos como podemos ajudar</p>
        <p>
          <span class="span-blue"
            >Chegue muito mais longe com a ajuda da Fafiltec</span
          >
        </p>
      </div>
      <a href="#">
        <div class="button-orange4">
          QUERO ENTRAR EM CONTATO COM UM DE NOSSO CONSULTORES
        </div>
      </a>
    </div>

    <div class="form-subscribe">
      <div class="info-matriz2" id="form-anchor">
        <div>
          Você está a um passo de dar
          <span class="span-orange">um salto na sua carreira</span> e estamos
          ansioso para lhe receber
        </div>
      </div>
      <form class="form-subscribe" id="form" action="/registry" method="post">
        <input type="text" id="name" name="name" placeholder="Nome Completo" />
        <input
          type="text"
          name="document"
          id="document"
          class="input-text"
          placeholder="CPF (apenas números)"
          pattern="\d*"
          maxlength="11"
          title="digite apenas números"
          onblur="cpfValidator()"
          required
        />
        <input
          type="text"
          name="birthdate"
          id="birthdate"
          class="input-text"
          placeholder=" Data de Nascimento"
          pattern="\d{2}\/\d{2}\/\d{4}"
          title="Digite a data no formato dd/mm/aaaa"
          onkeyup="dateMask()"
          maxlength="10"
          required
        />
        <input
          type="text"
          name="your_email"
          id="your_email"
          class="input-text"
          pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
          placeholder="Seu melhor e-mail"
          title="Por favor, insira um e-mail válido"
          required
        />
        <input
          type="text"
          name="mobile"
          id="mobile"
          class="input-text"
          pattern="\(\d{2}\)\d{5}\-\d{4}"
          placeholder="Celular"
          title="Digite o celular no formato (XX)XXXXX-XXXX"
          onkeyup="celMask()"
          maxlength="14"
          required
        />
        <select
          class="input-text"
          name="nacionality"
          id="nacionality"
          onChange="isForeign()"
          required
        >
          <option value="" disabled selected="selected">Nacionalidade</option>
          <option value="Brasileiro">Brasileiro</option>
          <option value="Estrangeiro">Estrangeiro</option>
        </select>
        <input
          type="password"
          name="password"
          id="password"
          class="input-text"
          placeholder="Senha"
          onChange="onChange()"
          required
        />
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          class="input-text"
          placeholder="Confirme sua senha"
          onChange="onChange()"
          required
        />
        <select name="pole" id="pole" class="input-text" required>
          <option value="" disabled selected="selected">
            Escolha seu polo
          </option>
          <% locations.forEach(pole=> { %>
          <option value="<%=pole.id %>" id="<%= pole.id %>">
            <%= pole.alias %>
          </option>
          <% }) %>
        </select>
        <select name="consultant" id="consultant" class="input-text" required>
          <option value="" disabled selected="selected">
            Escolha seu consultor
          </option>
          <option value="none">Não tive consultor</option>
          <% consultants.forEach(consultant=> { %>
          <option value="<%=consultant.id %>" id="<%= consultant.id %>">
            <%= consultant.nome_social %>
          </option>
          <% }) %>
        </select>
        <div class="form-checkbox">
          <label>
            <p>
              Declaro que li o
              <a
                href="https://fafiltec.edu.br/wp-content/uploads/2024/03/Edital_no_09_2024_-_Processo_Seletivo_para_ingresso_no_Curso_Superior_de_Tecnologo_em_Gestao_de_Negocios_Imobiliarios_1oSem2024.pdf"
                target="_blank"
                >Edital 2024-01</a
              >
            </p>
            <input type="checkbox" name="checkbox" required />
            <span class="checkmark"></span>
          </label>
        </div>
        <input
          type="submit"
          name="register"
          class="register"
          value="Inscrever"
          action="/registry"
          method="post"
        />
      </form>
    </div>

    <div class="whats">
      <a
        href="https://wa.me/5547992407652?text=Ol%C3%A1%2C+tenho+interesse+no+Tecnólogo+de+Negócios+Imobiliários.+Gostaria+de+obter+mais+informa%C3%A7%C3%B5es%21"
        target="_blank"
      >
        <img src="whatsapp.png" width="50px" alt="logo do whatsapp" />
      </a>
    </div>
  </body>

  <script
    id="ze-snippet"
    src="https://static.zdassets.com/ekr/snippet.js?key=feca56d0-a294-47ff-afac-c293d2facad8"
  ></script>
  <script>
    function onChange() {
      const password = document.querySelector("input[name=password]");
      const confirm = document.querySelector("input[name=confirm_password]");
      if (confirm.value === password.value) {
        confirm.setCustomValidity("");
      } else {
        confirm.setCustomValidity("As senhas precisam ser iguais");
      }
    }
    function cpfValidator() {
      if (isForeign()) {
        cpfInput.setCustomValidity("");
        return;
      }
      const cpfInput = document.querySelector("input[name=document]");
      const cpf = cpfInput.value;
      function isValidCpf(cpf) {
        cpf = cpf.replace(/\D/g, "");
        if (cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf))
          return false;
        var result = true;
        [9, 10].forEach(function (j) {
          var soma = 0,
            r;
          cpf
            .split(/(?=)/)
            .splice(0, j)
            .forEach(function (e, i) {
              soma += parseInt(e) * (j + 2 - (i + 1));
            });
          r = soma % 11;
          r = r < 2 ? 0 : 11 - r;
          if (r != cpf.substring(j, j + 1)) result = false;
        });
        return result;
      }
      if (isValidCpf(cpf)) {
        cpfInput.setCustomValidity("");
      } else {
        cpfInput.setCustomValidity("Insira um cpf válido");
      }
    }
    function isForeign() {
      const nacionalityInput = document.querySelector(
        "select[name=nacionality]"
      );
      if (nacionalityInput.value == "Estrangeiro") {
        const cpfInput = document.querySelector("input[name=document]");
        cpfInput.setCustomValidity("");
        return true;
      } else {
        return false;
      }
    }
    function dateMask() {
      const dateInput = document.querySelector("input[name=birthdate]");
      var date = dateInput.value;
      if (window.event.keyCode == 8) {
        // ignore backspace
      } else if (date.match(/^\d{2}$/) !== null) {
        dateInput.value = date + "/";
      } else if (date.match(/^\d{2}\/\d{2}$/) !== null) {
        dateInput.value = date + "/";
      }
    }
    function celMask() {
      const mobileInput = document.querySelector("input[name=mobile]");
      var mobile = mobileInput.value;
      if (window.event.keyCode == 8) {
        // ignore backspace
      } else if (mobile.match(/^\d{1}$/) !== null) {
        mobileInput.value = "(" + mobile;
      } else if (mobile.match(/^\(\d{2}$/) !== null) {
        mobileInput.value = mobile + ")";
      } else if (mobile.match(/^\(\d{2}\)\d{5}$/) !== null) {
        mobileInput.value = mobile + "-";
      }
    }

    const makeCollapsable = (itemName) => {
      var coll = document.getElementsByClassName(itemName);
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          console.log(content);
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    };
    makeCollapsable("info-matriz-pdf");
    makeCollapsable("info-matriz-pdf-desk");
  </script>
</html>
